@font-face {
	font-family: "Font_Name_1";
	src: url("fonts/Flexo-Regular.ttf") format("truetype");
	font-weight: normal;
	font-weight: normal;
}

body {
	font-family: "Font_Name_1", serif;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Font_Name_1", serif;
}

.main-header .logo {
	font-family: "Font_Name_1", serif;
}

/* .glyphicon {
	font-family: "Font_Name_1", serif;
} */
