.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  border-top-color: #72cec6;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: #fff;
  background-color: #72cec6 !important;
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black,
.bg-red-active,
.bg-yellow-active,
.bg-aqua-active,
.bg-blue-active,
.bg-light-blue-active,
.bg-green-active,
.bg-navy-active,
.bg-teal-active,
.bg-olive-active,
.bg-lime-active,
.bg-orange-active,
.bg-fuchsia-active,
.bg-purple-active,
.bg-maroon-active,
.bg-black-active,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success,
.alert-success,
.alert-danger,
.alert-error,
.alert-warning,
.alert-info,
.label-danger,
.label-info,
.label-warning,
.label-primary,
.label-success,
.label-negative,
.label-positive,
.label-doubt,
.label-active,
.label-inactive,
.label-sent,
.label-to_send,
.label-control,
.modal-primary .modal-body,
.modal-primary .modal-header,
.modal-primary .modal-footer,
.modal-warning .modal-body,
.modal-warning .modal-header,
.modal-warning .modal-footer,
.modal-info .modal-body,
.modal-info .modal-header,
.modal-info .modal-footer,
.modal-success .modal-body,
.modal-success .modal-header,
.modal-success .modal-footer,
.modal-danger .modal-body,
.modal-danger .modal-header,
.modal-danger .modal-footer {
  color: #fff !important;
}

.bg-red,
.callout.callout-danger,
.alert-danger,
.alert-error,
.label-danger,
.label-positive,
.label-red,
.label-inactive,
.modal-danger .modal-body {
  background-color: #dd4b39 !important;
}
.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.label-doubt,
.label-yellow,
.label-to_send,
.modal-warning .modal-body {
  background-color: #f39c12 !important;
}
.bg-aqua,
.callout.callout-info,
.alert-info,
.label-info,
.label-control,
.modal-info .modal-body {
  background-color: #00c0ef !important;
}
.bg-green,
.callout.callout-success,
.alert-success,
.label-success,
.label-negative,
.label-green,
.label-active,
.label-sent,
.modal-success .modal-body {
  background-color: #00a65a !important;
}

.label-empty {
  color: #000 !important;
  background-color: #eee !important;
}

.label-empty-light {
  color: #000 !important;
  background-color: #eee !important;
}

.label-danger-light,
.label-positive-light,
.label-red-light,
.label-inactive-light {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #dd4b39 !important;
}

.label-warning-light,
.label-doubt-light,
.label-yellow-light,
.label-to_send-light {
  color: #8a6d3b !important;
  background-color: #fcf8e3 !important;
  border-color: #f39c12 !important;
}
.label-info-light,
.label-control-light {
  color: #31708f !important;
  background-color: #d9edf7 !important;
  border-color: #00c0ef !important;
}
.label-success-light,
.label-negative-light,
.label-green-light,
.label-active-light,
.label-sent-light {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #00a65a !important;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  background-color: #39cccc;
}

.font-weight-bold {
  font-weight: bold;
}

.content-light {
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.max-height-300 {
  max-height: 300px;
  overflow-y: auto;
}

.enable {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
  border-color: #d6e9c6 !important;
}

.disable {
  color: #000 !important;
  background-color: #eee !important;
  border-color: #aaa !important;
}

.todo-list > li {
  border-radius: 0px;
  padding: 0px;
  background: #ffffff;
  margin-bottom: 0px;
  border-left: 0px;
  color: #444;
}

.check-label {
  border-radius: 3px;
  border: 1px solid #367fa9;
  background-color: #3c8dbc;
  padding: 1px 3px;
  color: #fff;
}

.content-border {
  margin: 2px 2px;
  padding: 5px 2px 0px;
  border: #b1adad 1px solid;
  border-radius: 5px;
}

.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 0px solid #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
}
