/*ADMIN LTE IMPROVEMENTS*/

.jumbotron {
  padding-top: 48px;
  padding-bottom: 48px;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee0;
}
.my-navbar-blue {
  background-color: #000148;
  border-color: #101010;
}
.my-navbar-orange {
  background-color: #fec54d;
  border-color: #101010;
}

.btn-default-cip {
  color: #444;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}
.btn-default-cip:active {
  color: #333;
  border: 1px solid #adadad;
  background-color: #e7e7e7;
}
.btn-default-cip:hover {
  color: #333;
  border: 1px solid #adadad;
  background-color: #e7e7e7;
}
.btn-default-cip:focus {
  color: #333;
  border: 1px solid #8c8c8c;
  background-color: #e6e6e6;
}

/********************************************/

.btn-primary-cip {
  color: #fff;
  background-color: #3c8dbc;
  border: 1px solid #367fa9;
}
.btn-primary-cip:active {
  color: #fff;
  background-color: #367fa9;
  border: 1px solid #204d74;
}
.btn-primary-cip:hover {
  color: #fff;
  background-color: #367fa9;
  border: 1px solid #204d74;
}
.btn-primary-cip:focus {
  color: #fff;
  background-color: #286090;
  border: 1px solid #122b40;
}

/********************************************/

.btn-success-cip {
  color: #fff;
  background-color: #00a65a;
  border: 1px solid #008d4c;
}
.btn-success-cip:active {
  color: #fff;
  background-color: #008d4c;
  border: 1px solid #398439;
}
.btn-success-cip:hover {
  color: #fff;
  background-color: #008d4c;
  border: 1px solid #398439;
}
.btn-success-cip:focus {
  color: #fff;
  background-color: #449d44;
  border: 1px solid #255625;
}

/********************************************/

.btn-info-cip {
  color: #fff;
  border: 1px solid #00acd6;
  background-color: #00c0ef;
}
.btn-info-cip:active {
  color: #fff;
  border: 1px solid #269abc;
  background-color: #00acd6;
}
.btn-info-cip:hover {
  color: #fff;
  border: 1px solid #269abc;
  background-color: #00acd6;
}
.btn-info-cip:focus {
  color: #fff;
  border: 1px solid #1b6d85;
  background-color: #31b0d5;
}

/********************************************/

.btn-danger-cip {
  color: #fff;
  border: 1px solid #d73925;
  background-color: #dd4b39;
}
.btn-danger-cip:active {
  color: #fff;
  border: 1px solid #ac2925;
  background-color: #d73925;
}
.btn-danger-cip:hover {
  color: #fff;
  border: 1px solid #ac2925;
  background-color: #d73925;
}
.btn-danger-cip:focus {
  color: #fff;
  border: 1px solid #761c19;
  background-color: #c9302c;
}

/********************************************/

.btn-warning-cip {
  color: #fff;
  border: 1px solid #e08e0b;
  background-color: #f0ad4e;
}
.btn-warning-cip:active {
  color: #fff;
  border: 1px solid #d58512;
  background-color: #e08e0b;
}
.btn-warning-cip:hover {
  color: #fff;
  border: 1px solid #d58512;
  background-color: #e08e0b;
}
.btn-warning-cip:focus {
  color: #fff;
  border: 1px solid #985f0d;
  background-color: #ec971f;
}

.btn-app {
  margin: 0 0 0 0;
}

/*BOOTSTRAP MIN*/

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.857143%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.flex-grow-0 {
  -ms-flex-positive: 0 !important;
  flex-grow: 0 !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}

.flex-shrink-1 {
  -ms-flex-negative: 1 !important;
  flex-shrink: 1 !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .flex-sm-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-sm-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-sm-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-sm-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-sm-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-sm-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-sm-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-sm-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-sm-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-sm-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-sm-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-sm-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-sm-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .flex-md-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-md-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-md-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-md-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-md-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-md-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-md-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-md-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-md-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-md-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-md-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-md-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-md-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-md-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-md-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-md-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-md-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-md-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-md-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-md-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-md-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .flex-lg-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-lg-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-lg-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-lg-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-lg-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-lg-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-lg-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-lg-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-lg-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-lg-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-lg-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-lg-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-lg-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .flex-xl-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
  }
  .flex-xl-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
  }
  .flex-xl-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
  }
  .flex-xl-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
  }
  .justify-content-xl-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .justify-content-xl-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-items-xl-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
  .align-content-xl-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
  }
  .align-content-xl-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
  }
  .align-content-xl-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
  }
  .align-self-xl-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
  }
  .align-self-xl-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
  }
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.float-none {
  float: none !important;
}

@media (min-width: 576px) {
  .float-sm-left {
    float: left !important;
  }
  .float-sm-right {
    float: right !important;
  }
  .float-sm-none {
    float: none !important;
  }
}

@media (min-width: 768px) {
  .float-md-left {
    float: left !important;
  }
  .float-md-right {
    float: right !important;
  }
  .float-md-none {
    float: none !important;
  }
}

@media (min-width: 992px) {
  .float-lg-left {
    float: left !important;
  }
  .float-lg-right {
    float: right !important;
  }
  .float-lg-none {
    float: none !important;
  }
}

@media (min-width: 1200px) {
  .float-xl-left {
    float: left !important;
  }
  .float-xl-right {
    float: right !important;
  }
  .float-xl-none {
    float: none !important;
  }
}

/*************************************************************/

.nav-stacked > li.active > a,
.nav-stacked > li.active > a:hover {
  background: #3c8dbc !important;
  color: #ffffff !important;
  border-top: 0;
  border-left-color: #3c8dbc;
}

.tableModule {
  width: 100%;
}
.tableController {
  width: 100%;
  /* max-width: 650px; */
  background-color: #fff0 !important;
}

.tableController > tbody > tr > td > .text-justify {
  /* max-width: 200px; */
  margin: auto;
  word-wrap: break-word;
  margin-left: 20px;
}

.tableController > tbody > tr > td > .text-center {
  max-width: 75px;
  margin: auto;
  word-wrap: break-word;
}

/* ----------------------------------------------------------- */
.custom-switch {
  padding-left: 3.25rem;
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 2.5rem;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

button,
input {
  overflow: visible;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 700;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

.custom-switch .custom-control-label::before {
  left: -3.25rem;
  /* Ancho del switch */
  width: 2.75rem;
  pointer-events: all;
  border-radius: 0.75rem;
}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -2.5rem;
  display: block;
  width: 1rem;
  height: 1.5rem;
  pointer-events: none;
  content: "";
  background-color: #dee2e6;
  border: #adb5bd solid 1px;
  box-shadow: inset 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #72cec6;
  background-color: #72cec6;
  box-shadow: none;
}

/* ----------------------------------------------------------- */

.custom-switch .custom-control-label::after {
  top: calc(0.25rem + 2px);
  left: calc(-3.25rem + 2px);
  width: calc(1.5rem - 4px);
  height: calc(1.5rem - 4px);
  background-color: #adb5bd;
  border-radius: 0.5rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-transform 0.15s ease-in-out;
}

.custom-control-label::after {
  position: absolute;
  top: 0.25rem;
  left: -2.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #dee2e6;
  -webkit-transform: translateX(0.75rem);
  transform: translateX(0.75rem);
}

/* ----------------------------------------------------------- */

.border-right {
  border-right: 1px solid #f4f4f4;
}

.border-left {
  border-left: 1px solid #f4f4f4;
}

.auto-xl {
  margin: auto;
  width: 100%;
}

.auto-lg {
  margin: auto;
  width: 80%;
}

.auto-md {
  margin: auto;
  width: 60%;
}

.no-padding-left {
  padding: 0 !important;
  padding-right: 7px !important;
}
.no-padding-right {
  padding: 0 !important;
  padding-left: 7px !important;
}
/* ----------------------------------------------------------- */
aside > section > ul > li > ul > li > ul > li > a {
  white-space: pre-line;
  font-size: 12px !important;
}
/* ----------------------------------------------------------- */

.render-item > .box {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #ffffff;
}

.box-body .box {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #ffffff;
}

/* box solid */
.box.box-solid {
  border-top: 0;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0) !important;
  margin-bottom: 0px;
}

.box-solid > .box-header > .box-tools {
  position: absolute;
  left: 10px;
  top: 0px;
}

.box-solid > .box-header > .box-tools > .btn-box-tool {
  padding: 0px 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}

.box-solid > .box-header {
  min-height: 10px;
  color: #444;
  display: block;
  padding: 0px;
  position: relative;
}

.box-solid > .box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0px;
}

/* box solid */

.new-table {
  width: 100%;
}

.new-table > thead > tr {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #72cec6;

  margin-bottom: 15px;
  border-radius: 3px;
  font-size: 15px;

  height: 45px;
  color: #fff;
}

.new-table > thead > tr > th {
  float: left;
}

.new-table > thead > tr > th {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px 14px 16px;
  text-decoration: none;
}

/* .new-table > thead > tr > th a:hover {
	background-color: #4f9a94;
} */

/* 00a65a-fbba00-7ADDDD-72cec6-Verde Claro 	 */
/* 008d4c-ee7203-39cccc-5dc5bc-Verde Oscuro 	 */
/* 008749-f39200-09B7B7-4f9a94-Verde Muy Oscuro */

/*
Considerar el color de la paleta de Produccion y Desarrollo en la hoja de estilo.

PROD:

72cec6-Verde Claro
5dc5bc-Verde Oscuro 
4f9a94-Verde Muy Oscuro

DEV:

f5cd83-Amarillo Claro
e7ae44-Amarillo Oscuro
de9611-Amarillo Muy Oscuro

*/
.skin-cip .main-header .navbar {
  background-color: #72cec6;
}

.skin-cip .main-header .navbar-dev {
  background-color: #e7ae44;
}

.skin-cip .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-cip .main-header .navbar .nav > li > a:hover,
.skin-cip .main-header .navbar .nav > li > a:active,
.skin-cip .main-header .navbar .nav > li > a:focus,
.skin-cip .main-header .navbar .nav .open > a,
.skin-cip .main-header .navbar .nav .open > a:hover,
.skin-cip .main-header .navbar .nav .open > a:focus,
.skin-cip .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-cip .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-cip .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-cip .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-cip .main-header .navbar .sidebar-toggle:hover {
  background-color: #4f9a94;
}
@media (max-width: 767px) {
  .skin-cip .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-cip .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-cip .main-header .navbar .dropdown-menu li a:hover {
    background: #4f9a94;
  }
}
.skin-cip .main-header .logo {
  background-color: #4f9a94;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-cip .main-header .logo:hover {
  background-color: #5dc5bc;
}

.skin-cip .main-header-dev .logo {
  background-color: #de9611;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-cip .main-header-dev .logo:hover {
  background-color: #f5cd83;
}

.skin-cip .main-header li.user-header {
  background-color: #72cec6;
}
.skin-cip .content-header {
  background: transparent;
}
.skin-cip .wrapper,
.skin-cip .main-sidebar,
.skin-cip .left-side {
  background-color: #222d32;
}
.skin-cip .user-panel > .info,
.skin-cip .user-panel > .info > a {
  color: #fff;
}
.skin-cip .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-cip .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-cip .sidebar-menu > li:hover > a,
.skin-cip .sidebar-menu > li.active > a,
.skin-cip .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: #1e282c;
}
.skin-cip .sidebar-menu > li.active > a {
  border-left-color: #72cec6;
}
.skin-cip .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-cip .sidebar a {
  color: #b8c7ce;
}
.skin-cip .sidebar a:hover {
  text-decoration: none;
}
.skin-cip .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-cip .sidebar-menu .treeview-menu > li.active > a,
.skin-cip .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-cip .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-cip .sidebar-form input[type="text"],
.skin-cip .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-cip .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-cip .sidebar-form input[type="text"]:focus,
.skin-cip .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-cip .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-cip .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-cip-light .main-header .navbar {
  background-color: #72cec6;
}
.skin-cip-light .main-header .navbar .nav > li > a {
  color: #fff;
}
.skin-cip-light .main-header .navbar .nav > li > a:hover,
.skin-cip-light .main-header .navbar .nav > li > a:active,
.skin-cip-light .main-header .navbar .nav > li > a:focus,
.skin-cip-light .main-header .navbar .nav .open > a,
.skin-cip-light .main-header .navbar .nav .open > a:hover,
.skin-cip-light .main-header .navbar .nav .open > a:focus,
.skin-cip-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-cip-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-cip-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-cip-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-cip-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #4f9a94;
}
@media (max-width: 767px) {
  .skin-cip-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-cip-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-cip-light .main-header .navbar .dropdown-menu li a:hover {
    background: #4f9a94;
  }
}
.skin-cip-light .main-header .logo {
  background-color: #72cec6;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-cip-light .main-header .logo:hover {
  background-color: #00a157;
}
.skin-cip-light .main-header li.user-header {
  background-color: #72cec6;
}
.skin-cip-light .content-header {
  background: transparent;
}
.skin-cip-light .wrapper,
.skin-cip-light .main-sidebar,
.skin-cip-light .left-side {
  background-color: #f9fafc;
}
.skin-cip-light .main-sidebar {
  border-right: 1px solid #d2d6de;
}
.skin-cip-light .user-panel > .info,
.skin-cip-light .user-panel > .info > a {
  color: #444;
}
.skin-cip-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-cip-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-cip-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-cip-light .sidebar-menu > li:hover > a,
.skin-cip-light .sidebar-menu > li.active > a {
  color: #000;
  background: #f4f4f5;
}
.skin-cip-light .sidebar-menu > li.active {
  border-left-color: #72cec6;
}
.skin-cip-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-cip-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-cip-light .sidebar a {
  color: #444;
}
.skin-cip-light .sidebar a:hover {
  text-decoration: none;
}
.skin-cip-light .sidebar-menu .treeview-menu > li > a {
  color: #777;
}
.skin-cip-light .sidebar-menu .treeview-menu > li.active > a,
.skin-cip-light .sidebar-menu .treeview-menu > li > a:hover {
  color: #000;
}
.skin-cip-light .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-cip-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-cip-light .sidebar-form input[type="text"],
.skin-cip-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-cip-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-cip-light .sidebar-form input[type="text"]:focus,
.skin-cip-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-cip-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-cip-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-cip-light.sidebar-mini.sidebar-collapse
    .sidebar-menu
    > li
    > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
